body{
    width: 500px;
    height: 300px;
    display: flex !important;
    justify-content: center;

}
p{
    display: inner-flex !important;
    margin: auto 10px;
    font-size: 40px;   
    padding: 10px;
}